<%- include("partials/header"); -%>
<h1>Home</h1>
<p><%= startercontent %></p>


<% posts.forEach(function(post){ %>
   <h1><%=post.title%></h1>
   <p><%= post.content.substring(0,120) + "......." %><a href="/posts/<%= post.title %>">Read More</a></p>
   
<% });%>
<a href="C:\Users\Admin\Desktop\Blog Website\views\compose.ejs"><button type="submit" class="btn btn-primary">Compose +</button></a>
<button type="submit" class="compose">Compose +</button>
<%- include("partials/footer"); -%>